/***** ICONS *****/
@font-face {
    font-family: 'si';
    src: url('socicon.eot');
    src: url('socicon.eot?#iefix') format('embedded-opentype'),
         url('socicon.woff') format('woff'),
         url('socicon.ttf') format('truetype'),
         url('socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(socicon.svg) format(svg);
    }
}
.soc {
    margin:0; padding:0;
    list-style:none;
}
.soc li {
    display:block;
    *display:inline;
    zoom:1;
}
.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 24px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    /*margin-right: 5px;*/
    color: #ffffff;
    background-color: transparent;
}

.soc-icon-last{
    margin:0 !important;
}
.soc-linkedin:before {
    content:'\e049';
}
.soc-facebook:before {
    content:'\e041';
}
.soc-twitter:before {
    content:'\e040';
}
.soc-youtube:before {
    content:'\e051';
}
.soc-instagram:before {
    content:'\e057';
}
.soc a{
    border: 2px solid white;
    border-radius: 50%;
}

/**************************/

/***** FIRST SECTION *****/

li{
    list-style-type: none;
    padding: 0.2vh;
    font-size: 14px;
}
.menu{
    text-align: left;
    margin-top: 4vh;
    margin-left: 2vw;
}
.intro{
  margin-top: 12vh;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  width: 32vw;
  margin-left: -3vw;
}
.intro img{
  padding-bottom: 3vh;
}
.icons{
    margin-top: 4vh;
    padding-left: 28vw;
}

/* ====================================
   Demo specific styling
   ==================================== */

.header-video {
  position: relative;
  overflow: hidden;
}

.header-video iframe,
.header-video video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-video iframe {
  height: 100%;
  width: 100%;
}

.header-video video {
  width: 100%;
}

.header-video__teaser-video, .header-video__media {
  width: 100%;
  height: auto;
}

/*******************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

/********************/

.header-text {
  position: relative;
  z-index: 99;
}

/********** SECOND *********/

.second .col-md-4{
  padding: 0;
}

.wrapper{
width: 100%;
padding-bottom: 52%;   /* your aspect ratio here! */
position: relative;
}

.wrapper img{
position: absolute;
top: 0; 
bottom: 0; 
left: 0; 
right: 0;
min-height: 100%;
}

/****** THIRD *********/

.third{
 display: table;
 text-align: left;
}
.third img{
  height: 48vh;
  display: inline-block;
  margin-top: 5vh;
  margin-bottom: -0.1vh;
}
.about{
  display: inline-block;
  vertical-align: bottom;
  padding-left: 3vw;
}
.third p{
  font-family:"Times New Roman";
  font-size: 17px;
  color: #292424;
  width: 27vw;
  padding-bottom: 3vh;
  padding-top: 2vh;
}
.third h1{
  color: #396eaf;
  font-weight: 700;
}
#tables{
  display: table-cell;
  vertical-align: middle;
}
#blue{
  height: 6px;
  margin-top: 0;
}
/***********************/
.forth{
  background-color: #1a212a;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: table;
  
}
input{
  border: 2px solid white;
  border-radius: 9px;
  color: #8E8585;
  margin-bottom: 2vh;
  display: table-cell;
  vertical-align: middle;
  padding: 3px;
}
.button{
  background-color: #396eaf;
  color: white;
  border: 2px solid #396eaf;
  border-radius: 15px;
  padding: 8px 18px;
  font-weight: 600;
  margin-top: 3vh;
}
#textarea{
  color: #8E8585;
  border: 2px solid white;
  border-radius: 9px;
  padding: 3px;
}
form{
  margin-top: 2vh;
  margin-bottom: 3vh;
}
.forth .row{
  padding-top: 7vh;
}